@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Sans+Narrow&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: 300%;
    color: #3a3a3a;
}

/* Headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image and cover */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}
#cover-text, cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/imeges/main.jpg') no-repeat center center;

    /* animates zoom effect om loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* Creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
         transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* Our services */

#our-services {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../css/imeges/diversity.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Open Cafe section */

#open-cafe {
    height: 400px;
    width: 100%;
	margin-bottom: 5px;
	background: url('../css/imeges/cafe.jpg') center center / cover no-repeat fixed;
}



#white {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    font-size: 280%;
}

#food {
    padding-top:30px ;
    width: 33%;
    float: left;
    color: #FFFFFF;
}

#drinks {
    padding-top:30px ;
    width: 33%;
    float: right;
    color: #FFFFFF;
}

#times {
    padding-top: 30px;
    margin: 0 auto;
    color: #FFFFFF;
}

.food2 {
    width: 60%;
    float: right; 
    clear: both;
    
}

.drinks2 {
    width: 60%;
    float: left; 
    clear: both;
}

hr {
    border-top: 1px solid #FFFFFF;
    width: 100%;
    margin: 5px 0;
}

#times {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
}

ul {
    font-size: 20px;
}

#food p {
    font-size: 20px;
}

/* map */
#map-wrapper {

    height: 400px;
    
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* footer section */

footer {
	background-color: #6f4e37;
	padding: 1em;
	text-align: center;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 20px;
}

footer > span {
	color: silver;
}

footer > a {
	color: beige;
	text-decoration: none;
	padding: 0 15px;
	font-size: 20px;
}

footer > p {
	color: silver;
}

